<html >
<head>
    <title>Hello AngularJS</title>
    <script src="angular.min.js"></script>
    <script src="hello.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="myapp">
    <div ng-controller="HelloController">
        <h2>Hello{{helloTo.title}}</h2>

        Your name: <input ng-model="name">
        <button ng-click="update()">update</button>
        <p>{{greeting}}</p>



        
        <table class="calculator">
            <tbody>
                <tr ng-repeat="buttonRows in buttons">
                    <td class="button" ng-repeat="button in buttonRows">{{button}}</td>
                </tr>
            </tbody>
        </table>
        
        <ul>
            <li ng-repeat="name in names| withLetter:'a'  ">{{name}}</li>
        </ul>

    </div>


</body>
</html>